.background {
  animation: glow 1s ease-in-out infinite;
  background-color: #f00;
}
@keyframes glow {
  0% {
    background-color: #f00;
    box-shadow: #f00;
  }
  25% {
    background-color: rgb(25, 0, 255);
    box-shadow: rgb(25, 0, 255);
  }
  50% {
    background-color: rgb(0, 255, 13);
    box-shadow: rgb(157, 255, 0);
  }
  75% {
    background-color: rgb(255, 0, 255);
    box-shadow: rgb(255, 0, 255);
  }
  90% {
    background-color: rgb(0, 255, 234);
    box-shadow: rgb(0, 255, 234);
  }
  100% {
    background-color: #f00;
    box-shadow: #f00;
  }
}

.main {
  position:relative;
  height: 100%;
}

.column1 {
  float: left;
  height: 100%;
  width: 20%;
  background-color: #e7e7e900;
  text-align: center;
  line-height: 30px;
}

.column1 img {
  clip-path: circle();
  width: 80%;
  transition: transform .8s ease-in-out;
}
img:hover {
  transform: scale(1.6) rotate(5040deg);
}

.column1 h1 {
  text-size-adjust: auto;
  margin-top: 0;
}

.column1 h2 {
  margin-bottom: 0;
}
.box {
  text-size-adjust: auto;
  float: left;
  height:30%;
  width:80%;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  }
.box h2{
  padding-left: 10%;
}
.box p{
  line-height: 29px;
  width: 75%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}
.column2 {
  text-align: 50px;
  float: left;
  height: 100%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 30px;
  font-size: 24px;
}
.column2 h2{
  padding-left: 10%;
}
.column2 ul{
  padding-left: 10%;
}
.column2 h3{
  padding-left: 10%;
}
.column2 table{
  margin-left: 10%;
  text-align: center;
  border-style:dashed;
  border-color: rgba(0, 0, 0, 0);
  border-left:50 px ;
  border-right: 0px;
  border-top: 0px;
  border-bottom:0px ;
  border-collapse: collapse;
  border-spacing: 20px;
}
.column2 table td use{
  border: 5px;
  border-top: 5px;
  border-bottom: 0px;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
  
}
